.app {
  text-align: center;
}

.app-header {
  background-color: #FF5D77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-content {
  padding: 0 20%;
}

.app-content-subtitle {
  padding: 2%;
}

.app-footer {
  background-color: #F1F1F1;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1% 0;
  color: #333333;
  font-weight: lighter;
}